<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot and Thymeleaf - Thymeleaf Layout Dialect</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" th:unless="isTemplate"></script>
        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" th:unless="isTemplate"></script>
        <script src="../../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}" th:unless="isTemplate"></script>
        <script src="../../resources/metisMenu/dist/metisMenu.min.js"
                th:src="@{/resources/metisMenu/dist/metisMenu.min.js}" th:unless="isTemplate"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}"
              th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../css/sb-admin-2.css"
              th:href="@{/css/sb-admin-2.css}" th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../resources/metisMenu/dist/metisMenu.css"
              th:href="@{/resources/metisMenu/dist/metisMenu.min.css}" th:unless="isTemplate"/>
        <link rel="stylesheet" type="text/css" media="screen"
              href="../../resources/font-awesome/css/font-awesome.min.css"
              th:href="@{/resources/font-awesome/css/font-awesome.min.css}" th:unless="isTemplate"/>
    </head>
    <body>
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div th:replace="fragments/header :: div">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
                    </div>
                    <!-- /.navbar-header -->
                </div>

                <div class="navbar-default sidebar" role="navigation" th:replace="fragments/sidebar :: div">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    Side Bar Menu
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->

            </nav>

            <!-- Page Content -->
            <div id="page-wrapper" layout:fragment="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Blank</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>
</html>